.contact-section{
   padding: 30px 130px 93px 130px;
   background-color: $white-text;
   display: flex;
   flex-direction: column;
   align-items: center;
   .contact{
    width: 100%;
    text-align: center;
   }
   .contact-text{
     margin-bottom: 67px;
   }
}
.contact-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 54px;
}
.postcard {
  width: 575px;
  .form-row {
    margin-bottom: 21px;
    .black-btn{
      width: 100%;
      background: #212529;
    }
 }
}
.form-name{
  text-align: left;
  margin-bottom: 16px;
  @extend %work-sans;
  font-size: 20px;
  line-height: 20px;
  color: $black-text;
}
.form-row input[type="text"], .form-row input[type="email"], .form-row textarea {
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  height: 38px;
  background: #eee;
}
.form-row textarea{
  height: 75px;
}
.map-form{
  flex: 1 0 50%;
  max-width: 575px;
  height: 385px;
  &>img{
    width: 100%;
    height: 100%;
  }
}

@include tablet{
  .contact-section{
    padding: 30px 80px 93px 80px;
    gap: 41px;
     .contact-form{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
    }
    .contact-text{
      margin-bottom: 45px;
    }
  }
.postcard{
  width: 95%;
  order: 2;
}
.map-form{
  margin: 0 auto;
}
}

@include mobile{
  .contact-section{
    padding: 36px 20px 59px 20px;
    gap: 41px;
    .contact-form{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;
    }
    .contact-text{
      margin-bottom: 45px;
    }
  
  }
  .postcard{
    width: 100%;
    order: 2;
  }
}
