.footer{
   background-color: $bg-color;
   padding: 51px 131px 49px 131px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   &>.social-icon>img{
      margin-right: 20px;
      &:last-child{
         margin-right: 0;
      }
   }
   .copyright{
      @extend %work-sans;
      font-size: 20px;
      line-height: 25px; 
      color: $white-text;
   }
}

@include mobile{
   .footer{
      padding: 31px 0;
      flex-direction: column;
      gap:20px;
 }
 }
 
 @include tablet{
   .footer{
      flex-direction: column;
      justify-content: center;
      gap:20px;
      padding: 20px 40px;
 }
 }

